Redirect 302 /tag https://forms.rabenspass.de/modules/form_builder/published/tag.php
Redirect 302 /tag/ https://forms.rabenspass.de/modules/form_builder/published/tag.php
Redirect 302 /termine/ https://jugendhackt.org/kalender/?lab_id=16583
Redirect 302 /termine https://jugendhackt.org/kalender/?lab_id=16583
Redirect 302 /lab https://jugendhackt.org/lab/isenbuettel
Redirect 302 /lab/ https://jugendhackt.org/lab/isenbuettel
Redirect 302 /eroeffnung/ /rateus/
Redirect 302 /eroeffnung /rateus/
Redirect 302 /newsletter https://jh.rabenspass.de/lists/?p=subscribe&id=1
Redirect 302 /newsletter/ https://jh.rabenspass.de/lists/?p=subscribe&id=1
Redirect 302 /corona/ /corona.html
Redirect 302 /corona /corona.html
Redirect 302 /covid/ /corona.html
Redirect 302 /covid /corona.html
Redirect 302 /covid19 /corona.html
Redirect 302 /covid19/ /corona.html
Redirect 302 /covid-19/ /corona.html
Redirect 302 /covid-19 /corona.html
Redirect 302 /next-workshop /signup/?workshopname=Twine&workshopslug=#ne
Redirect 302 /next-workshop/ /signup/?workshopname=Twine&workshopslug=#ne